body {
  background-color: #F3F5FC;
  font-family: "Inter";
  font-weight: 400;
}

.logo {
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
  text-align: center;
}

main {
  height: 944px;
  margin: 40px 40px 40px 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.panel {
  height: 100%;
  width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#textInput {
  border: none;
  background: none;
  overflow: auto;
  resize: none;
  width: 680px;
  height: auto;
  color: #0A3871;
  font-size: 32px;
  line-height: 48px;
  margin-top: 128px;
}

#textInput:focus {
  outline: none;
}

#textInput::placeholder {
  color: #0A3871;
  font-family: 'Inter';
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

#alert {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  font-style: normal;
  font-size: 12px;
  color: #495057;
  visibility: hidden;
}

.alert-text {
  color: #495057;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  
}

.button {
  border: none;
  border-radius: 24px;
  width: 328px;
  height: 67px;
  font-size: 16px;
}

#encriptar {
  background-color: #0A3871;
  color: #FFFFFF;
}

#desencriptar {
  background-color: #D8DFE8;
  color: #0A3871;
}

#rightPanel {
  height: 100%;
  width: 400px;
  border-radius: 32px;
  background-color: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.rightPanel-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 30px;
}

.rightPanel-text h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #343A40;
  height: 58px;
  padding: 0 10px;
}

.rightPanel-text p {
  font-size: 16px;
  line-height: 150%;
  color: #495057;
  height: 48px;
  padding: 0 10px;
}

#textOutput {
  width: 336px;
  height: 781px;
  margin: 32px;
  border: none;
  background: none;
  overflow: auto;
  resize: none;
  color: #495057;
  font-size: 24px;
  line-height: 150%;
}

#copyButton {
  border: 1px solid #0A3871;
  border-radius: 24px;
  width: 328px;
  height: 67px;
  font-size: 16px;
  margin: 32px;
  color: #0A3871;
  background: none;
}

@media screen and (max-width: 768px) {

  body {
      width: 768px;
  }

  .logo {
      position: absolute;
      left: 5.21%;
      right: 90.74%;
      top: 6.25%;
      bottom: 89.8%;
      width: 31px;
  }

  main {
      flex-direction: column;
      margin: 120px 40px 0 40px;
      gap: 64px;
  }

  .panel {
      width: 100%;
  }

  #textInput {
      height: 48px;
  }

  .buttonsContainer {
      margin-bottom: 0;
  }

  #rightPanel img {
      display: none;
  }

  #rightPanel {
      width: 100%;
      height: auto;
      margin: 0 40px;
      gap: 32px;
  }

  .rightPanel-text {
      width: 624px;
      margin: 32px;
  }

  .rightPanel-text h2 {
      height: 29px
  }

  .rightPanel-text p {
      height: 24px;
  }

  #textOutput {
      width: 624px;
      height: auto;
      margin: 0;
      margin-top: 32px;
  }

  #copyButton {
      width: 624px;
      margin: 0;
      margin-bottom: 32px;
  }
}

@media screen and (max-width: 375px) {
  body {
      width: 375px;
  }

  main {
      width: 343px;
      margin: 0;
      margin-bottom: 40px;
      padding: 0 16px;
      justify-content: center;
      text-align: center;
  }

  .panel {
      align-items: center;
  }

  #textInput {
      width: 100%;
      padding: 0;
      margin-top: 152px;
  }

  .buttonsContainer {
      width: 343px;
      margin: 0;
      flex-direction: column;
      gap: 24px;
  }

  .button {
      width: 343px;
  }

  #rightPanel {
      width: 327px;
      margin: 0;
  }

  .rightPanel-text {
      margin: 32px;
      width: 263px;
      height: 122px;
      padding: 0px;
      gap: 16px;
  }

  .rightPanel-text h2 {
      padding: 0;
      height: 58px;
  }
  .rightPanel-text p {
      padding: 0;
      height: 48px;
  }

  #textOutput {
      width: 279px;
  }

  #copyButton {
      width: 279px;
  }
}